body
{
    background-color: rgb(68, 66, 70);
    color: whitesmoke;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1
{
    margin-left: auto;
    margin-right: auto;
    width:40%; 
}
h6
{
    font-family: 'Courier New', Courier, monospace;
}
.Centered
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container
{
 padding: 10px, 20px, 10px, 20px;   
}
div
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);   
}
#schoolimg
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#school
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contactimg
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact
{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 800px)
{
      div
      {
        display: grid;
        grid-template-columns: repeat(3,300);
        grid-template-rows: 1fr;   
      }
      #schoolimg
      {
         grid-column-start: 1;
         grid-column-end:2 ;
         grid-row-start:2 ;
         grid-row-end: 3;
      }
      #school
      {
         grid-column-start: 1;
         grid-column-end: 1;
         grid-row-start: 1;
         grid-row-end: 1;
      }
      #contactimg
      {
         grid-column-start: 2;
         grid-column-end:3 ;
         grid-row-start:2 ;
         grid-row-end: 3;
      }
      #contact
      {
         grid-column-start: 2;
         grid-column-end: 3;
         grid-row-start: 1;
         grid-row-end: 2;
      }
}
a:link,a:visited
{
    color:lightblue;
}
a:hover
{
    color:lightblue;
}
a:active
{
    color:red;
}
footer
{
    background-color: gainsboro;
    color: black;
}