body
{
    background-color: rgb(68, 66, 70);
    color: whitesmoke;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1
{
    margin-left: auto;
    margin-right: auto;
    width:40%; 
}
h6
{
    font-family: 'Courier New', Courier, monospace;
}
.Centered
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container
{
    display: grid;
    grid-template-columns: 100px 300px 200px;
    grid-template-rows: 100px 200px;
}
a:link,a:visited
{
    color:lightblue;
}
a:hover
{
    color:lightblue;
}
a:active
{
    color:red;
}